body,
html {
    background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
    background: #2BC0E4;  /* fallback for old browsers */
    background: linear-gradient(to right, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: rgb(117, 117, 117);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3rem;
    text-align: center;
}

.primer-componente{
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    align-items: center;
    backdrop-filter: blur(5px);
    background: rgba(186, 201, 112, 0.338);
    border-radius: 10px;
    border: 20px solid rgba(29, 110, 150, 0.625);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.678);
    display:flex;
    flex-direction: column;
    justify-content:center;
    margin: 40px;
    padding: 50px;
    height: max-content;
    
-webkit-backdrop-filter: blur(5px);
    
}

h2{
    font-size:22px
}

button{
    padding: 10px;
    font-size: 1rem;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border: none;
    margin: 8px;
    opacity: .8;
    cursor: pointer;
}

button:hover{
    opacity: 1;
}

